<main id="main">
  <div class="breadcrumbs d-flex align-items-center">
    <div class="container position-relative d-flex flex-column align-items-center">
      <h2>New Statement</h2>
    </div>
  </div>

  <section>
    <div class="container" data-aos="fade-right">
      <div class="row gy-4 mb-4">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <%=
                form_with(
                  local: true,
                  method: :post,
                  class: "row g-3",
                  url: statement_create_path,
                  model: @statement
                ) do |f|
              %>
                <div class="row my-3">
                  <div class="col-6">
                    <%= f.label :start_date, class: "form-label" %>
                    <%= f.date_field :start_date, class: "form-control", required: true %>
                  </div>

                  <div class="col-6">
                    <%= f.label :end_date, class: "form-label" %>
                    <%= f.date_field :end_date, class: "form-control", required: true %>
                  </div>
                </div>

                <div class="actions text-center">
                  <%= f.submit "Generate", class: "submit-button btn btn-primary" %>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </section>
</main>
