<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <%= link_to root_path, class: "logo d-flex align-items-center" do %>
      <h1 class="d-flex align-items-center">Nobe Bank</h1>
    <% end %>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    <nav id="navbar" class="navbar">
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
        <% end %>
        <li>
          <%= link_to "About Us", about_us_path, class: "nav-link" %>
        </li>
        <li class="dropdown">
          <%= link_to(user_signed_in? ? edit_user_registration_path : new_user_session_path) do %>
            <% if user_signed_in? %>
              <span class="nav-profile-text">
                <% if current_user.first_name? and current_user.last_name? %>
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                <% else %>
                  Account Control
                <% end %>
              </span>
              <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
            <% else %>
              <span class="nav-profile-text">
                Account Control
              </span>
              <i class="fa-solid fa-user"></i>
            <% end %> <i class="bi bi-chevron-down dropdown-indicator"></i>
          <% end %>
          <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->
